p {
  margin: 30px;
  color: white;
  letter-spacing: .01em;
}

.align-left {
  text-align: start;
}

.paragraph {
  font-family: 'Mukta-Light', serif;
  text-space: 2px;
  font-size: 21px;
  margin: 25px 20px;

}