@import '../../../../assets/styles/Variables.scss';



.project-row {
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 16px;
  border: 0.5px solid $orangeColor !important;
}

.project-description {
  margin: 25px 0;
}

.project-clipart {
  text-align: center;
}

.project-title {
  margin: 0;
}