.skill-center {
    margin: auto;
    text-align: center;
}

.skill-icon {
    height: 4em;
    margin: 12px;
}

.skill-title {
    margin: 10px auto;
    text-align: center;
}

.skill-title h3 {
    font-size: 22px;
}