@import "../../../../../assets/styles/Variables";


.exp-date {
    // font-weight: 700;
    // font-size:: 28px;
}

.exp-title {
    // font-size:: 28px;
    letter-spacing: -0.5px;
    font-weight: 400;
}

.exp-subtitle {
    // font-size:: 24px;
    // font-weight: 300;
    margin: 10px auto;
}

ul li {
    color: $textColor;
}