@import 'index.scss';

root {
	textColor: #FFF;
	backgroundColor: #000;
}

h1 {
	font-size: $heading1FontSize;
	font-weight: $heading1FontWeight;
	letter-spacing: $heading1LetterSpacing;
}

h2 {
	font-size: $heading2FontSize;
	font-weight: $heading2FontWeight;
	letter-spacing: $heading2LetterSpacing;
}

h3 {
	font-size: $heading3FontSize;
	font-weight: $heading3FontWeight;
	letter-spacing: $heading3LetterSpacing;
}

h4 {
	font-size: $heading4FontSize;
	font-weight: $heading4FontWeight;
	letter-spacing: $heading4LetterSpacing;
}

h5 {
	font-size: $heading5FontSize;
	font-weight: $heading5FontWeight;
	letter-spacing: $heading5LetterSpacing;
}

h6 {
	font-size: $heading6FontSize;
	font-weight: $heading6FontWeight;
	letter-spacing: $heading6LetterSpacing;
}

p {
	color: var(--textColor)
}

/**
 * Width
 * iPhone 6/7/8 Plus - Width dimensions
 */
@media only screen and (max-width: 414px) {
	h1 {
		// font-size: 36px;
	}

	h3 {
		// font-size: 20px;
	}

	@for $i from 1 through 6 {
		h#{$i} {
			white-space: nowrap;
			margin: 20 - ($i * 3px);
		}
	}
}

/**
 * Width
 * iPhone 6/7/8 & X - Width dimensions
 */
@media only screen and (max-width: 375px) {
	h1 {
		// font-size: 34px;
	}

	h3 {
		// font-size: 18px;
	}

	p {

	}

	@for $i from 1 through 6 {
		h#{$i} {
			white-space: nowrap;
			margin: 15 - ($i * 3px);
			// font-size:: 36 - ($i * 2px);
		}
	}
}

/**
 *
 * iPhone 5/SE - Width dimensions
 */
@media only screen and (max-width: 320px) {
	h1 {
		// font-size:: 32px;
	}

	h3 {
		// font-size:: 15px;
	}

	p {

	}

	@for $i from 1 through 6 {
		h#{$i} {
			white-space: nowrap;
			margin: 10 - ($i * 2px);
			// font-size:: 34 - ($i * 2px);
		}
	}
}