@import 'index.scss';

h1 {
	font-weight: 100;
	text-align: center;
	font-family: 'ZenTokyoZoo', serif;
}

h3 {
	font-weight: 100;
	font-family: 'Mukta-Light', serif;
}

@for $i from 1 through 6 {
	h#{$i} {
		color: $textColor;
	}
}

.info {
	margin: 20px;
	background: yellow;
}

/**
 * Width
 * iPhone 6/7/8 Plus - Width dimensions
 */
@media only screen and (max-width: 414px) {
	h1 {
		font-size: 36px;
	}

	h3 {
		font-size: 20px;
	}

	@for $i from 1 through 6 {
		h#{$i} {
			white-space: nowrap;
			margin: 20 - ($i * 3px);
		}
	}
}

/**
 * Width
 * iPhone 6/7/8 & X - Width dimensions
 */
@media only screen and (max-width: 375px) {
	h1 {
		font-size: 34px;
	}

	h3 {
		font-size: 18px;
	}

	p {

	}

	@for $i from 1 through 6 {
		h#{$i} {
			white-space: nowrap;
			margin: 15 - ($i * 3px);
			font-size: 36 - ($i * 2px);
		}
	}
}

/**
 *
 * iPhone 5/SE - Width dimensions
 */
@media only screen and (max-width: 320px) {
	h1 {
		font-size: 32px;
	}

	h3 {
		font-size: 15px;
	}

	p {

	}

	@for $i from 1 through 6 {
		h#{$i} {
			white-space: nowrap;
			margin: 10 - ($i * 2px);
			font-size: 34 - ($i * 2px);
		}
	}
}