@import 'index.scss';

root {
	textColor: #FFF;
	backgroundColor: #000;
}

h1 {
	font-size: $heading1FontSize;
	font-weight: $heading1FontWeight;
	letter-spacing: $heading1LetterSpacing;
}

h2 {
	font-size: $heading2FontSize;
	font-weight: $heading2FontWeight;
	letter-spacing: $heading2LetterSpacing;
}

h3 {
	font-size: $heading3FontSize;
	font-weight: $heading3FontWeight;
	letter-spacing: $heading3LetterSpacing;
}

h4 {
	font-size: $heading4FontSize;
	font-weight: $heading4FontWeight;
	letter-spacing: $heading4LetterSpacing;
}

h5 {
	font-size: $heading5FontSize;
	font-weight: $heading5FontWeight;
	letter-spacing: $heading5LetterSpacing;
}

h6 {
	font-size: $heading6FontSize;
	font-weight: $heading6FontWeight;
	letter-spacing: $heading6LetterSpacing;
}

p {
	font-size: $body1MobileFontSize;
	font-weight: $body1MobileFontWeight;
	letter-spacing: $body1MobileLetterSpacing;
}

a {
	font-size: $buttonFontSize;
	font-weight: $buttonFontWeight;
	letter-spacing: $buttonLetterSpacing;
}

.large-btn {
	a {
		font-size: $largeButtonFontSize;
		font-weight: $buttonFontWeight;
		letter-spacing: $buttonLetterSpacing;
	}
}

/**
 * Width
 * Mobile & Tablet - Width dimensions
 */
@media only screen and (max-width: 1000px) {
	h1 {
		margin: 2vh 0 1vh 0;
		font-size: $heading1MobileFontSize;
		font-weight: $heading1MobileFontWeight;
		letter-spacing: $heading1MobileLetterSpacing;
	}

	h2 {
		font-size: $heading2MobileFontSize;
		font-weight: $heading2MobileFontWeight;
		letter-spacing: $heading2MobileLetterSpacing;
	}

	h3 {
		font-size: $heading3MobileFontSize;
		font-weight: $heading3MobileFontWeight;
		letter-spacing: $heading3MobileLetterSpacing;
	}

	h4 {
		font-size: $heading4MobileFontSize;
		font-weight: $heading4MobileFontWeight;
		letter-spacing: $heading4MobileLetterSpacing;
	}

	h5 {
		font-size: $heading5MobileFontSize;
		font-weight: $heading5MobileFontWeight;
		letter-spacing: $heading5LetterSpacing;
	}

	h6 {
		font-size: $heading6MobileFontSize;
		font-weight: $heading6MobileFontWeight;
		letter-spacing: $heading6MobileLetterSpacing;
	}

	p {
		font-size: $body1MobileFontSize;
		font-weight: $body1MobileFontWeight;
		letter-spacing: $body1MobileLetterSpacing;
	}

	a {
		font-size: $buttonMobileFontSize;
		font-weight: $buttonMobileFontWeight;
		letter-spacing: $buttonMobileLetterSpacing;
	}

	.large-btn {
		a {
			font-size: $largeButtonMobileFontSize;
			font-weight: $buttonFontWeight;
			letter-spacing: $buttonLetterSpacing;
		}
	}

}

/**
 *
 * iPhone 5/SE - Width dimensions
 */
@media only screen and (max-width: 320px) {}