// Application - Style

// Imports
@import './assets/styles/Fonts.scss';
@import './assets/styles/Functions.scss';
@import './assets/styles/Variables.scss';

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html body {
	margin: 0;
	width: 100%;
	display: inline;
	overflow: hidden;
	@include background-gradient();
}

@for $i from 1 through 6 {
	h#{$i} {
		margin: unset;
		font-size: unset;
		color: $textColor;
		white-space: nowrap;
	}
}

p {
	color: $textColor;
}

main {
	height: $width;
	display: flex;
	overflow-x: hidden;
	overflow-y: $overflow;
	flex-direction: column;
}

#root {
	height: 100vh;
}

.bubbles {
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index: -1000;
	overflow:hidden;
	position: absolute;
}

.bubble {
	display: block;
	position: relative;
	border-radius: 50%;
	width: var(--bubble-radius);
	height: var(--bubble-radius);
	left: var(--bubble-left-offset);
	animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

	&::before {
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: inherit;
		background: $orangeColor;// hsla(183, 93%, 76%, 0.1);
		animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
	}

	@for $i from 0 through $bubble-count {
		&:nth-child(#{$i}) {
			--bubble-sway-type: #{sample($sway-type)};
			--bubble-radius: #{random_range(1vw, 10vw)};
			--bubble-float-duration: #{random_range(8s, 60s)};
			--bubble-sway-duration: #{random_range(0s, 10s)};
			--bubble-float-delay: #{random_range(0s, 1s)};
			--bubble-sway-delay: #{random_range(0s, 1s)};
			--bubble-left-offset: #{random_range(0vw, 100vw)};
		}
	}
}

@keyframes float-up {
	to {
		transform: translateY(-175vh);
	}
}

@keyframes sway-left-to-right {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes sway-right-to-left {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}
