// Variables


// Colors

// Text Colors
$whiteColor: #FFFFFF; 
$textColor: #FCFCFC;
$cursorColor: #bdbdbd;

// Background Colors
$navyBlue: #23395D;
$darkBlue: #203354;
$royalBlue: #1C2E4A;
$mediumBlue: #192541;
$midnightBlue: #152238;


// Fonts Sizes
$headingFontSize: 13px;

$bodyFontSize: 13px;

// Bubbles
$bubble-count: 25;
$sway-type: "sway-left-to-right", "sway-right-to-left";
