// Colors
$whiteColor: #FFFFFF;
$blackColor: #000000;

$lightOrangeColor: rgba(85, 189, 255, 0.1);
$lightSecondaryOrangeColor: rgba(85, 189, 255, 0.2);

$orangeColor: rgba(30, 63, 90, 0.8);   // #FF7900
$darkOrangeColor: rgba(30, 63, 90, 1); // #FF7800

$textColor: var(--textColor);
$backgroundColor: var(--backgroundColor);

$primaryColor: $orangeColor;
$primaryVariantColor: $darkOrangeColor;

$secondaryColor: #000;
$secondaryVariantColor: #000;