// Colors
$whiteColor: #FFFFFF;
$blackColor: #000000;

$lightOrangeColor: rgba(255, 120, 0, 0.1);
$lightSecondaryOrangeColor: rgba(255, 120, 0, 0.2);

$orangeColor: rgba(255, 120, 0, 0.8);   // #FF7900
$darkOrangeColor: rgba(255, 120, 0, 1); // #FF7800