@import "src/assets/styles/theme/Colors";

$textColor: $whiteColor;
$backgroundColor: $blackColor;

$primaryColor: $orangeColor;
$primaryVariantColor: $darkOrangeColor;

$secondaryColor: #000;
$secondaryVariantColor: #000;

