@import "src/assets/styles/theme/Colors";

$textColor: $blackColor;
$backgroundColor: $whiteColor;

$primaryColor: $orangeColor;
$primaryVariantColor: $darkOrangeColor;

$secondaryColor: $lightOrangeColor;
$secondaryVariantColor: #000;


